<br><br><br>
<div class="container">
    <h1>Escolha seu personagem favorito</h1>
    <div class="card" id="estante">
        <img src="/assets/Prateleira.png" class="card-img" alt="">
      </div>
</div>
<div class="container text-center">
  <div class="row">
    <div class="col-6 col-sm-3" Id="box" cdkDrag>
        <img src="/assets/Yusuke.png">
    </div>
    <div class="col-6 col-sm-3" Id="box" cdkDrag>
      <img src="/assets/Seiya.png">
    </div>
    <div class="col-6 col-sm-3" Id="box" cdkDrag>
      <img src="/assets/Goku.png">
    </div>
    <div class="col-6 col-sm-3" Id="box" cdkDrag>
      <img src="/assets/Naruto.png">
    </div>
    <div class="col-6 col-sm-3" Id="box" cdkDrag>
      <img src="/assets/Saitama.png">
    </div>
    <div class="col-6 col-sm-3" Id="box" cdkDrag>
      <img src="/assets/Tanjiro.png">
    </div>
  </div>
</div>


